{{!-- For displaying posts as cards in the grid layout in the search results (results.hbs) page --}}
<div id="results-card" class="card">
    <a href="/post/{{id}}">
        <img class="card-img" style="height: 250px;" src="/{{photopath}}" alt="Missing Image">
    </a>
    <div class="card-body">
        <a id="card-details" href="/post/{{id}}">
            <h6 id="card-title" class="card-title">{{title}}</h6>
        </a>
        <div id="card-price" class="card-price">${{price}}</div>
    </div>
    <button type="button" id="contact-button-results" class="btn" data-toggle="modal" data-target="#contact-{{id}}">
        Contact Seller
    </button>

    <div class="modal fade" id="contact-{{id}}">
        <form id="createmessage-form" class="modal-dialog modal-dialog-centered" method="POST"
            enctype="application/x-www-form-urlencoded" action='/messages/createMessage'>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact {{username}}<br></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Item name: {{title}}</h6>
                    <h6>Item Price: ${{price}}</h6>
                    <input name="postId" type="hidden" value="{{id}}" class="form-control">
                    <input name="userId" type="hidden" value="{{fk_userId}}" class="form-control">
                    <textarea class="form-control" type="text" id="message-text" name="message"
                        placeholder="Type message here for the seller. Please include your contact information."
                        required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="submit-message" class="btn">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>