{{!-- results.hbs renders the search results page. In this page, the user can view posts related
to their search and they are also able to contact the seller right away without clicking on the post.
Users are also able to narrow down their search by category and sort their search by price. --}}

<div class="container-fluid">
    <div class="row">
        <div id="results-div" class="col-sm">
            <h4 id="search-message">{{searchTerm}}</h4>
            <div id="result-message">{{message}}</div>

            {{#if (emptyObject messages)}}
            <div id="success-message" class="d-flex justify-content-center">
                {{#if messages.success}}
                {{!-- When user successfully sends a message to seller, it will show up a green alert message. --}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{messages.success}}
                    <button type="button" class="close btn-lg" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{else}}
                {{!-- When user tries to send a message to themself (their own post), it will show up a red alert
                message.--}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{messages.error}}
                    <button type="button" class="close btn-lg" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
            </div>
            {{/if}}
            
            {{!-- Sort by Price button --}}
            <div class="d-flex flex-row-reverse">
                <select id="select-sort" class="custom-select">
                    <option value="recent">Sort by: Most Recent</option>
                    <option value="sort-by-price-asc" {{#if_equal sortValue "sort-by-price-asc" }} selected
                        {{/if_equal}}>Price: Low to high</option>
                    <option value="sort-by-price-desc" {{#if_equal sortValue "sort-by-price-desc" }} selected
                        {{/if_equal}}>Price: High to low</option>
                </select>
            </div>
        </div>
    </div>
</div>

{{!-- Grid container displaying all the search results --}}
<div id="imgcontainer">
    {{#each results}}
    {{> cardresult this}}
    {{/each}}
</div>